body {
  color:red;
}

.navbar {
  padding 1rem;
}

.navbar {
  padding 1rem;
  background-color: blue;
}

.footer {
  padding 1rem;
  background-color: blue;
}

.btn-primary:hover {
  background-color: blue;
  color: white;
}
